<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>WebCampBackendNew</title>
	<link rel="stylesheet" href="app/assets/stylesheets/index.css">
</head>

<body>
	<h1>Books</h1>

	<table>
		<tr>
			<th>Title</th> <th>Body</th>
		</tr>
		<tr>
			<td>リーダブルコード</td> <td>より良いコードを書くためのシンプルで以下略</td>
		</tr>

	</table>


</body>

</html>