<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>WebCampBackendNew</title>
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/top.css">

	</head>

<body>
	<h1>ようこそ <Span>Bookers</Span> へ！</h1>

	<p>
		<Span>Bookers</Span> では、さまざまな書籍に関するあなたの意見や
	</p>
	<p>
		印象を共有し交換することができます
	</p>

	<a href="#">start</a>

</body>

</html>